:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --main-color: #0ef;
  --txt-color: #fff;
  --main-transation: 0.7s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-color);
  color: var(--txt-color);
}

section {
  min-height: 100vh;
  padding: 90px 9%;
}

.heading {
  font-size: 45px;
  line-height: 1.3;
}

.heading span {
  color: var(--main-color);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg-color);
  padding: 20px 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header .logo {
  font-size: 25px;
  color: var(--txt-color);
  font-weight: bold;
  cursor: pointer;
}

.header i.menu {
  font-size: 25px;
  color: var(--txt-color);
  display: none;
  cursor: pointer;
}

.header .nav-bar {
  display: flex;
  list-style: none;
}

.header .nav-bar li a {
  color: var(--txt-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  margin-left: 30px;
  transition: var(--main-transation);
}

.header .nav-bar li a.active,
.header .nav-bar li a:hover {
  color: var(--main-color);
}

.home {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-content {
  max-width: 600px;
}

.home-content h3 {
  font-size: 32px;
  font-weight: bold;
}

.home-content h3 span {
  color: var(--main-color);
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 15px;
}

.home-content h1 {
  font-size: 56px;
  font-weight: bold;
}

.home-content p {
  font-size: 20px;
  color: var(--txt-color);
}

.home-content .social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  font-size: 20px;
  color: var(--main-color);
  margin: 15px 10px;
  transition: var(--main-transation);
}

.home-content .social-icons a:hover {
  background-color: var(--main-color);
  color: var(--bg-color);
  box-shadow: 0 0 10px var(--main-color);
}

.btn {
  display: inline-block;
  padding: 15px 25px;
  margin: 10px 0 0;
  background-color: var(--main-color);
  border-radius: 40px;
  font-size: 18px;
  letter-spacing: 1px;
  color: var(--bg-color);
  font-weight: bold;
  box-shadow: 0 0 10px var(--main-color);
  transition: var(--main-transation);
}

.btn:hover {
  box-shadow: none;
}

.home .home-img img{
  width: 25vw;
  border-radius: 50px;
}

.about {
  background-color: var(--second-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.about-img img {
  width: 25vw;
  border-radius: 50px;
}

.about .about-content {
  text-align: center;
}

.about-content h3 {
  font-size: 26px;
}

.about-content p {
  font-size: 20px;
  margin: 10px 0 15px;
}

.services h2 {
  margin-bottom: 50px;
  text-align: center;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.services-container .service-box {
  padding: 30px 20px 40px;
  background-color: var(--second-bg-color);
  border-radius: 20px;
  text-align: center;
  border: 2px solid var(--bg-color);
  transition: var(--main-transation);
}

.services-container .service-box:hover {
  border-color: var(--main-color);
  transform: scale(1.02);
}

.service-box i {
  font-size: 70px;
  color: var(--main-color);
}

.service-box h3 {
  font-size: 26px;
}

.service-box p {
  font-size: 18px;
  margin: 10px 0 20px;
}

.portfolio {
  background-color: var(--second-bg-color);
}

.portfolio h2 {
  margin-bottom: 40px;
  text-align: center;
}

.portfolio .portfolio-conatainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.portfolio .portfolio-box {
  position: relative;
  border-radius: 20px;
  box-shadow: 0 0 10px var(--bg-color);
  overflow: hidden;
  display: flex;
}

.portfolio .portfolio-box img {
  width: 100%;
  transition: var(--main-transation);
}

.portfolio .portfolio-box img:hover {
  transform: scale(1.1);
}

.portfolio .portfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient( rgba(0, 0, 0, 0.1), var(--main-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 40px;
  transform: translatey(100%);
  transition: var(--main-transation);
}

.portfolio .portfolio-layer h4 {
  font-size: 30px;
}

.portfolio .portfolio-layer p {
  font-size: 18px;
  margin: 5px 0 10px;
}

.portfolio .portfolio-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--txt-color);
}

.portfolio .portfolio-layer a i {
  font-size: 20px;
  color: var(--second-bg-color);
}

.portfolio .portfolio-box:hover .portfolio-layer {
  transform: translateY(0);
}

.contact h2 {
  margin-bottom: 30px;
  text-align: center;
}

.contact form {
  max-width: 700px;
  margin: 10px auto;
  text-align: center;
  margin-bottom: 30px;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0;
  font-size: 18px;
  color: var(--txt-color);
  background-color: var(--second-bg-color);
  border-radius: 10px;
}

.contact form .input-box input {
  width: 345px;
}

.contact form textarea {
  resize: none;
  height: 200px;
}

.contact form .btn {
  margin-top: 20px;
  cursor: pointer;
}

.footer {
  padding: 20px 9%;
  text-align: center;
  background-color: var(--second-bg-color);
}

.footer p {
  font-size: 20px;
}

.footer p span {
  font-size: 20px;
  color: var(--main-color);
  font-weight: bold;
}

.scroll-to-top {
  width: 30px;
  height: 30px;
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
  z-index: 9999;
}

.scroll-to-top .up {
  background: linear-gradient(to right, var(--main-color) 50%, #00eeffa3 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  transition: var(--main-transation);
  cursor: pointer;
}

.scroll-to-top:hover .up {
  background-position: left bottom;
}

.scroll-to-top .up::before {
  font-family: "FontAwesome";
  content: "\f077";
  font-size: 20px;
  position: relative;
  top: 4px;
}

@media (max-width: 767px) {
  .header {
    padding: 20px 3%;
  }
  .header i.menu {
    display: block;
  }
  .header .nav-bar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 10px 3%;
    background-color: var(--bg-color);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
  }
  .header .nav-bar.active {
    display: block;
  }
  .header .nav-bar li a {
    display: block;
    font-size: 20px;
    margin: 30px 0;
  }
  .home {
    flex-direction: column;
    text-align: center;
  }
  .logo {
    font-size: 18px;
  }
  .home h3 {
    font-size: 27px;
  }
  .home h1 {
    font-size: 40px;
  }
  .home p {
    font-size: 17px;
  }
  .home-img img {
    height: 25vh;
  }
  .about {
    flex-direction: column;
    text-align: center;
  }
  .about-img img {
    height: 25vh;
  }
  .heading {
    font-size: 40px;
  }
  .services-container .service-box i {
    margin-bottom: 10px;
  }
  .service-box p {
    margin: 10px 0;
  }
  .contact form .input-box input {
    width: 100%;
  }
  .contact {
    padding: 70px 3% 0;
  }
  .contact form .input-box input, .contact form textarea {
    margin: 10px 0;
  }
  .footer p {
    font-size: 24px;
  }
  .scroll-to-top {
    bottom: 20px;
    right: 20px;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 20px 3%;
  }
  section {
    padding: 90px 3% 30px;
  }
  .footer {
    padding: 20px 3%;
  }
}
